@model Modales.Models.Tbl_Trabajador
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Nombre) + " " + @Html.DisplayFor(model => model.Apellido) + "'s Details";
    Scripts.Render("~/bundles/jqueryval");
}
 

    <section>
        <div class="modal-shadow text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>@ViewBag.Title</h4>
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    Worker ID
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CedulaTra)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Puesto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Puesto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Edad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Edad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Correo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Correo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaNacimiento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nacionalidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nacionalidad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ciudad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ciudad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaEmpleo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaEmpleo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Empleador)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Empleador)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaDespido)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaDespido)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InicioIncapacidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InicioIncapacidad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FinalIncapacidad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FinalIncapacidad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Padecimientos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Padecimientos)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observacion)
                </dd>

            </dl>
        </div>
        </div>
    </section>
 