@model Modales.Models.Tbl_Prestamos
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Tbl_Trabajador.Nombre) + " " + @Html.DisplayFor(model => model.Tbl_Trabajador.Apellido) + " loan's Details";
}
@Scripts.Render("~/bundles/jqueryval")
 



<section>
    <div class="modal-shadow text-center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>@ViewBag.Title</h4>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Monto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Monto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmisorPrestamo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmisorPrestamo)
            </dd>
        </dl>
    </div>
    </div>
</section>