@model IEnumerable<Modales.Models.Tbl_Salario>

@{
    ViewBag.Title = "Index";
}

 
    <h3 class="btn btn-success">
    @Html.ActionLink("New Salary", "CreateSalary", null, new { data_modal = "" })
    </h3>

    <table class="table table-dark" style="text-align:center">
        <tr>
            <th>
                Worker
            </th>
             <th>
                Salary
            </th>
            <th>
               Days
            </th>
            <th>
                Deductions
            </th>
            <th>
                Salary Date
            </th>
            <th colspan="3"><span>Actions</span></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_Trabajador.Nombre) @Html.DisplayFor(modelItem => item.Tbl_Trabajador.Apellido)
                </td>
                <td>
                    ₡ @Html.DisplayFor(modelItem => item.SalarioNeto)
                </td>
                <td>
                    First date: @Html.DisplayFor(modelItem => item.PrimeraFecha) @Html.Label("/") Last date: @Html.DisplayFor(modelItem => item.UltimaFecha)
                </td>
                <td>
                    ₡ @Html.DisplayFor(modelItem => item.TotalDeducciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSalario)
                </td>
                <td>
                    <span class="btn btn-success"> @Html.ActionLink("Edit", "EditSal", new { id = item.idSalario }, new { data_modal = "" }) </span >
                    <span class="btn btn-info"> @Html.ActionLink("Details", "Details", new { id = item.idSalario }, new { data_modal = "" }) </span>
                    <span class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.idSalario }, new { data_modal = "" })</span>
</td>
            </tr>
        }

    </table>
